<div class="container-fluid fixed-top">
  <div class="container topbar bg-primary d-none d-lg-block">
    <div class="d-flex justify-content-between"></div>
  </div>
  <div class="container px-0">
    <nav class="navbar navbar-light bg-white navbar-expand-xl">
      <a href="index.html" class="navbar-brand"
        ><h1 class="text-primary display-6">DMB Alışveriş</h1></a
      >
      <button
        class="navbar-toggler py-2 px-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="fa fa-bars text-primary"></span>
      </button>
      <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
          <a href="/products" class="nav-item nav-link">Anasayfa</a>
          <a href="/login" class="nav-item nav-link active">Giriş Ekranı</a>
        </div>

        <div class="d-flex m-3 me-0">
          <app-cart-summary></app-cart-summary>
          <app-profile></app-profile>
        </div>
      </div>
    </nav>
  </div>
</div>
