<div class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <i class="fas fa-user fa-2x"></i>
  </a>
  <ul *ngIf="isAuth()" class="dropdown-menu" aria-labelledby="userDropdown">
    <li *ngIf="user">
      <a class="dropdown-item">{{ user.firstName }} {{ user.lastName }}</a>
    </li>
    <li *ngIf="user">
      <a class="dropdown-item">{{ user.email }}</a>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Detaylar</a></li>
  </ul>
</div>
